{% extends 'base.html' %}


{% block head %}
	<title>
		Register
	</title>
{% endblock %}

{% block body %}

	<h1>
		Credentials
	</h1>


	<form action="" method="POST">
		

		{% csrf_token %}


	  	<div class="form-group">
		    <label>Name</label>
		  		{{ form.name }}
	  	</div>


	  	<div class="form-group">
	    	<label>College</label>
	    		{{ form.college }}
	  	</div>

  		<div class="form-group">
    		<label>Birthday</label>
    			{{ form.birthday }}
	  	</div>

	  	<div class="form-group">
    		<label>Gender</label>
    			{{ form.gender }}
	  	</div>

	  	<div class="form-group">
    		<label>Phone</label>
    			{{ form.phone }}
	  	</div>

	  	


	  	<button type="submit" class="btn btn-primary">Submit</button>
	</form>


{% endblock %}