<!doctype html>

<html lang="en">
<head>

	<meta charset="utf-8" />
	<!-- <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Account</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!-- Canonical SEO -->
	<link rel="canonical" href="http://www.creative-tim.com/product/material-kit-pro" />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	{% load static %}

    <link href="{% static 'material/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'material/css/material.css' %}" rel="stylesheet"/>
</head>

<body class="login-page">
	<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="http://effe.org.in">Effervescence</a>
        	</div>

        	<div class="collpase navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">
					<li>
								<a href="/frontend/">
									<i class="material-icons">home</i> Events
								</a>
							
					</li>
    				<li>
    					<a href="{% url 'change_user_details' %}">
    						<i class="material-icons">edit</i> Edit Details
						</a>
					
					</li>
					<li>
						<a href="{% url 'change_password' %}">
							<i class="material-icons">lock_open</i> Change Password
						</a>
					</li>
					<li>
						<a href="{% url 'user_logout' %}">
							<i class="material-icons">close</i> Logout
						</a>
					</li>

        		</ul>
        	</div>
    	</div>
    </nav>

	<div class="page-header header-filter" style="background-image: url({% static 'login/css/background3.jpg' %}); background-size: cover; background-position: top center;">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
					<div class="card card-signup">
						<h2 style="text-align:center; color:rgba(100, 100, 100, 0.8)">Details</h2>
						<div class="form" method="" action="login-page.html">

								<div class="card-content" style="margin-bottom:20px">
	
									<div class="input-group" style="margin-bottom:40px; margin-top: 20px">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
										<div type="text" class="form-control" id="info-name" style="text-align:center"></div>
									</div>

									<div class="input-group" style="margin-bottom:40px">
										<span class="input-group-addon">
											<i class="material-icons">school</i>
										</span>
										<div type="text" class="form-control" id="info-college" style="text-align:center"></div>
									</div>

									<div class="input-group" style="margin-bottom:40px">
										<span class="input-group-addon">
											<i class="material-icons">calendar_today</i>
										</span>
										<div type="text" class="form-control" id="info-birthday" style="text-align:center"></div>
									</div>

									<div class="input-group" style="margin-bottom:40px">
										<span class="input-group-addon">
											<i class="material-icons">person</i>
										</span>
										<div type="text" class="form-control" id="info-gender" style="text-align:center"></div>
									</div>

									<div class="input-group" style="margin-bottom:40px"> 
										<span class="input-group-addon">
											<i class="material-icons">phone</i>
										</span>
										<div type="text" class="form-control" id="info-phone" style="text-align:center"></div>
									  </div>
									  
									  <div class="input-group" style="margin-bottom:40px"> 
										<span class="input-group-addon">
											<i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
										</span>
										<div type="text" class="form-control" id="info-fb-id" style="text-align:center"></div>
                  					</div>
                
                </div>
                
                <div  style="margin-bottom:40px; text-align:center; color:rgba(200,50,50,0.8); font-size:15px; font-weight:500"> 
                  <p>More features will be added soon to the portal.</p>
                </div>

					</div>
				</div>
			</div>
		</div>
		</div>
		<footer class="footer" style="position:absolute; bottom:0%; width: 100vw;">
	        <div class="container">

	            <div class="copyright col-md-12" style="text-align:center">
	                &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="#" target="_blank">Effervescence</a>
	            </div>
	        </div>
	    </footer>

	</div>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	<script>



			// Get token from cookie
			// var token_re = / token=\w+/
			// var token = token_re.exec(document.cookie);
			var token = localStorage.getItem("token");
			if(token == null){
			  token = '';
			}
			// else{
			//  token = token[0].slice(7,);
			// }
			
		  
		  
		  
			// Get json data using token
			$.ajax({
			  url : "/api/regular_user/",
			  type : 'get',
			  beforeSend : function(request){
				if(localStorage["type"] == "fb"){
				  request.setRequestHeader("Authorization",
					"Bearer " + token);
			  }
			  else{
				request.setRequestHeader("Authorization",
					"Token " + token);
			  }
			  },
			  
			  dataType : 'json',
			  success: function(data){
					var name = data['name'];
					$('.greetings').text(name);   
					$('#info-name').text(name);       
				  
		  
				  var college = data['college'];
				  $('#info-college').text(college);
				  
		  
				  var phone = data['phone'];
				  $('#info-phone').text(phone);
				  
		  
				  var gender = data['gender'];
				  if(gender == 'M'){
					gender = 'Male';
				  }
				  else if(gender == 'F'){
					gender = 'Female';
				  }
				  else{
					gender = 'Other';
				  }
				  $('#info-gender').text(gender);
				  
		  
				  var birthday = data['birthday'];
				  $('#info-birthday').text(birthday);

				  var fb_id = data['fb_id'];
				  $('#info-fb-id').text(fb_id);
			  },
			  error: function(MLHttpRequest, textStatus, errorThrown){
			   if(localStorage["token"] != ' '){
				window.location.href = "/set_user_details/";
			   }
			   else
				window.location.href = "/user_login/";
			  },
			});
		  
		  
		  
		  
		  </script>

</body>
	<!--   Core JS Files   -->
	{% load static %}

	
	<script src="{% static 'material/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'material/js/material.min.js' %}"></script>
	<!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
	<script src="{% static 'material/js/moment.min.js' %}"></script>

	<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
	<script src="{% static 'material/js/nouislider.min.js' %}" type="text/javascript"></script>

	<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
	<script src="{% static 'material/js/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
	<script src="{% static 'material/js/bootstrap-selectpicker.js' %}" type="text/javascript"></script>

	<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
	<script src="{% static 'material/js/bootstrap-tagsinput.js' %}"></script>

	<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
	<script src="{% static 'material/js/jasny-bootstrap.min.js' %}"></script>

	<!--    Plugin For Google Maps   -->
	<script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFPQibxeDaLIUHsC6_KqDdFaUdhrbhZ3M"></script>

	<!--    Plugin for 3D images animation effect, full documentation here: https://github.com/drewwilson/atvImg    -->
	<script src="{% static 'material/js/atv-img-animation.js' %}" type="text/javascript"></script>

	<!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->
	<script src="{% static 'material/js/material-kit.min.js' %}" type="text/javascript"></script>
</html>
