<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'dashboard/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'dashboard/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'dashboard/css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Effervescence</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'homepage' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">   
        <li class="nav-item">
          <a class="nav-link" href="{% url 'change_user_details' %}">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>




  <div class="content-wrapper">
    <div class="container-fluid welcome">
      <!-- Breadcrumbs-->
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol> -->

      <div class="row">
        <div class="col-12">
          <h1>Hello <span class="greetings"></span></h1>
        </div>
      </div>
    </div>


    <div class="container information">
      <div class="row">
        <div class="col-6 type">
          Name:
        </div>
        <div class="col-6 info info-name">

        </div>
      </div>

      <div class="row info-row">
        <div class="col-6 type">
          College:
        </div>
        <div class="col-6 info info-college">

        </div>
      </div>

      <div class="row">
        <div class="col-6 type">
          Date of Birth:
        </div>
        <div class="col-6 info info-birthday">

        </div>
      </div>
    

      <div class="row info-row">
          <div class="col-6 type">
            Gender:
          </div>
          <div class="col-6 info info-gender">

          </div>
      </div>


      <div class="row">
          <div class="col-6 type">
            Phone:
          </div>
          <div class="col-6 info info-phone">

          </div>
        </div>
      </div>

    </div>



    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->






    <footer class="sticky-footer copyright">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Effervescence 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url 'user_logout' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>


<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>


  // Get token from cookie
  // var token_re = / token=\w+/
  // var token = token_re.exec(document.cookie);
  var token = localStorage.getItem("token");
  if(token == null){
    token = '';
  }
  // else{
  //  token = token[0].slice(7,);
  // }
  



  // Get json data using token
  $.ajax({
    url : "/api/regular_user/",
    type : 'get',
    beforeSend : function(request){
      if(localStorage["type"] == "fb"){
        request.setRequestHeader("Authorization",
          "Bearer " + token);
    }
    else{
      request.setRequestHeader("Authorization",
          "Token " + token);
    }
    },
    
    dataType : 'json',
    success: function(data){
          var name = data['name'];
          $('.greetings').text(name);   
          $('.info-name').text(name);       
        

        var college = data['college'];
        $('.info-college').text(college);
        

        var phone = data['phone'];
        $('.info-phone').text(phone);
        

        var gender = data['gender'];
        if(gender == 'M'){
          gender = 'Male';
        }
        else if(gender == 'F'){
          gender = 'Female';
        }
        else{
          gender = 'Other';
        }
        $('.info-gender').text(gender);
        

        var birthday = data['birthday'];
        $('.info-birthday').text(birthday);
    },
    error: function(MLHttpRequest, textStatus, errorThrown){
     if(localStorage["token"] != ' '){
      window.location.href = "/set_user_details/";
     }
     else
      window.location.href = "/user_login/";
    },
  });


</script>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'dashboard/js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'dashboard/js/sb-admin-datatables.min.js' %}"></script>
    <script src="{% static 'dashboard/js/sb-admin-charts.min.js' %}"></script>
  </div>
</body>

</html>
