{% extends 'base.html' %}

{% block head %}
	<title>
		All Entries
	</title>
{% endblock %}



{% block body %}	

	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-12">
				<h1>
					Hello 
					<span style="text-transform: capitalize;">
					{{ name }}
					</span><br>
				</h1>
			</div>
			<div class="col-2 offset-8" style="text-align: center;">
				<p>
					<a href="{% url 'set_user_details' %}">Change profile</a>
				</p>
			</div>
			<div class="col-2" style="text-align: center;">
				<p>
					<a href="{% url 'user_logout' %}">Logout</a>
				</p>
			</div>
			
		</div>
	</div>
	


	{% for u in current_user %}
		<div class="container entry">
			<div class="row">
				<div class="col-12">
					<h4>
						Name
					</h4>
					<h2>
						{{ u.name }}
					</h2>
					<hr>

					<h4>
						College
					</h4>
					<h2>
						{{ u.college }}
					</h2>
					<hr>

					<h4>
						Birthday
					</h4>
					<h2>
						{{ u.birthday }}
					</h2>
					<hr>


					<h4>
						Gender
					</h4>
					<h2>
						{{ u.gender }}
					</h2>
					<hr>

					<h4>
						Phone
					</h4>
					<h2>
						{{ u.phone }}
					</h2>
					<hr>

			

					
					
					
				</div>		
			</div>		
		</div>
	{% endfor %}

<script type="text/javascript">
	var word = "ArpitMishsra";
	var check = word.slice(2, );
	console.log(document.cookie, check);
</script>

	
		
	
{% endblock %}

	