<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

{% csrf_token %}
Username: <input type='text' name='username' id='username' />
<br>
<!-- Email: <input type='text' name='email' id='email' />
<br> -->
Password: <input type='password' name='password' id='password' />
<br>
<input type='submit' value='Login' id='login_form' />

<script>
  console.log(document.cookie)
  $("#login_form").on("click", function(e) {
    var username = $("#username").val();
    var password = $("#password").val();

    $.ajax({
      url : "/accounts/login/",
      type : 'post',
      data : {
        "username" : username,
        "password" : password
      },
      dataType : 'json',
      success: function(data){
        var token = data["key"];
        document.cookie = 'token='+token+";path=/";
        window.location.href = "/user_details/";
      }
    });
  });
</script>